.fondo{
    background-color: rgb(250, 240, 227);
}
.fuente{
    font-family: 'Architects Daughter', cursive;
    ;
}
.fuente1{
     font-family: "Shadows Into Light", cursive;
}

.tamano{
    font-size: 21px;
}
.tamano2{
    font-size: 21px;
}
